<h1>MBTA</h1>

<a href="/red"><%= image_tag("redline.png", size: "100x100", alt: "Redline Trains") %></a>
<a href="/orange"><%= image_tag("orangeline.png", size: "100x100", alt: "Orangeline Trains") %></a>
<a href="/green"><%= image_tag("greenline.png", size: "100x100", alt: "Greenline Trains") %></a>
<a href="/blue"><%= image_tag("blueline.png", size: "100x100", alt: "Blueline Trains") %></a>