<table>
	<tr>
		<% @blue_routes.each do |blueline| %>
			<% blueline["direction"].each do |direction| %>
				<td>
					<p><%= direction["direction_name"] %></p>
					<% direction["stop"].each do |stop| %>
						<p><a href="blue/<%= stop["parent_station"] %>"><%= stop["parent_station_name"] %></a></p>
				<% end %>
				</td>
			<% end %>
		<% end %>
	</tr>
</table>